/* ==========================================================================
   Site styles
   ========================================================================== */

.header--style-1 {
	width: 100%;
	text-align: center;
	font-size: $font-size-4;
	letter-spacing: 1px;
	text-transform: lowercase;
	margin-bottom: 0px;
	font-weight: 100;
	color: $gray-medium;
}

.header--style-2 {
	width: 100%;
	text-align: center;
	font-size: $font-size-3;
	letter-spacing: 1px;
	text-transform: lowercase;
	margin-top: 0px;
	margin-bottom: 50px;
	font-weight: 300;
	color: $gray-dark;
}

.gradient {
	padding: 0;
	width: 320px;
	margin: 150px auto 0px;
	max-height: 250px;
}

.social {
	margin: 0 auto 0;
	width: 100%;
	text-align: center;
}

.social--img {
	display: inline-block;
	margin: 0 20px;
}
